/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.headTitle {
  font-family: 'Pokemon Solid', sans-serif;
  color: #FFCB05;
  -webkit-text-stroke: 2px #3466AF;
  font-size: 50px;
  word-spacing: -20px;
 
}
.inputRounded .MuiOutlinedInput-root {
  border-radius: 25px;
}
.imgHeader {
  height:250px;
}

.marginBottomHead {
  margin-bottom: -30px;
}
.pokeName {
  text-transform: capitalize;
  display: inline-block;

}
.imgPokemon {
  max-height: 150px;
}
* {
  box-sizing: border-box;
  font-family:  Roboto;
}
.audioEL {
  cursor: pointer;
  vertical-align: middle;
}
.containerType {
  display: inline-block;
  margin: 5px;

}

.imgIcon {
  height: 30px;
  border-radius: 50%;
  padding: 5px;
}

.bug {
  background: #92BC2C;
}

.ghost {
  background: #5F6DBC;
}

.dark {
  background: #595761;
}

.fighting {
  background: #D3425F;
}

.poison {
  background: #B763CF;
}

.dragon {
  background: #0C69C8;
}

.electric {
  background: #F2D94E;
}

.fire {
  background: #FBA54C;
}

.fairy {
  background: #EE90E6;
}

.flying {
  background: #A1BBEC;
}

.grass {
  background: #5FBD58;
}

.ground {
  background: #DA7C4D;
}

.ice {
  background: #75D0C1;
}

.normal {
  background: #A0A29F;
}

.poison {
  background: #B763CF;
}

.psychic {
  background: #FA8581;
}

.rock {
  background: #C9BB8A;
}

.steel {
  background: #5695A3;
}

.water {
  background: #539DDF;
}

.typeName {
  margin-top: auto;
}
.displayDamage {
  display: grid;
}

.footerWord {
  font-style: italic;
 
}
.imgPika {
  height: 70px;
}
.displayLoad {
  display: inline-block;
}

.pokeHeadName {
  text-transform: capitalize;
}





